<footer id="down" class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2020</span>
  </div>
</footer>

<!-- icons -->
<a href="#" class="back-to-top">
  <i class="bi bi-arrow-up-circle-fill"></i>
</a>
<!-- icons -->
<!-- icons -->
<a href="#down" class="go-down">
  <i class="bi bi-arrow-down-circle-fill"></i>
</a>
<!-- icons -->
